@import "materialize";
@import "materialdesignicons";


header, main, footer {
  padding-left: 300px;
}

.messages {
  height: 80vh;
  overflow: scroll;
  padding-bottom: 30px;
}

.container {
  width: 100%;
}

#chat-input {
  position: fixed;
  bottom: 0;
  width: 100%;

  .input-field {
    margin: 0;

    input {
      margin: 0;
    }
  }
}

